@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root
{
    --background-color : hsl(185, 75%, 39%);
    --letters-color: hsl(0, 0%, 59%); 
    --asdf: hsl(227, 10%, 46%);

}
*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--background-color);
    text-align: center;
    
}
body
{
    /*We use this overflow, so the contect will remain in one only square, and the page won't allow you to
    scroll no where*/
    overflow: hidden;
}

/********************FLEX**********************/
.mainContainer
{
    display: flex;
    
    width: 23%;
    min-width: 20rem;
    height: 50vh;

    
    margin: auto;
    margin-top: 10rem;   
    
    background-color: whitesmoke;
    border-radius: 3%;
    /* Everything that comes out of the container is hidden */
    overflow: hidden;
    
    
    
}

.statsContainer
{
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid hsl(0, 0%, 88%);
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 0 2rem;
    
}

.infoContainer
{
    width: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}
/*******************************************/

.card-header
{
    height: 7rem;
}
.card-header img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    
}
.card-body
{
    height: 35%;
}
.imgBox
{
    border-radius: 100%;
    border: 5px solid white ;
    overflow: hidden;
    width: 30%;
    
    margin: auto;
    margin-top: -3.3rem;
}
.imgBox img
{
    width: 100%;
    height: auto;
    display: block;
    
    object-fit: cover;

}
.card-footer
{
    height: 30%;
    justify-content: center;
    align-items: center;
    
}
.item
{
    width: 100%;
}
.name-age
{
    margin-top: 1.5rem;
    font-weight: 700;
}

.age
{
    font-weight: 400;
    margin-left: .4rem;
    opacity: .6;
}
.city
{
    font-weight: 400;
    font-size: 14px;
    opacity: .6;
    margin-top: .8rem;

}   
.value
{
    font-weight: 700;
}
.meta
{
    font-weight: 400;
    font-size: 14px;
    opacity: .6;
    margin-top: .3rem;
    letter-spacing: .1rem;
}

.circle1
{
    position: absolute;
    z-index: -1;
    margin: -39rem -56rem;
}
.circle2
{
    position: absolute;
    z-index: -1;
    margin: 11rem -1rem;
}
.attribution
{   
    margin-top: 4rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .mainContainer
    {
        display: flex;
        width: 70%;
        max-width: 20rem;
        height: 60vh;
    }
    .infoContainer
    {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}